@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    .header-top-bar {
        padding: 61px 0 29px;

        .btn {
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .cross-btn-wrapper {
            width: 90px;

            .cross-btn {
                background-color: $primary;
                height: 90px;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                border-radius: 90px;
                position: absolute;
                top: 0;
                right: 0;
                color: $white;
                text-decoration: none;
                transition: 0.5s all ease;

                .text {
                    display: block;
                    transform: scaleX(1);
                    transition: 0.5s all ease;
                    font-size: 1.781875rem; // 28.51px
                }

                .icon {
                    display: none;
                    transform: scaleX(0);
                    transition: 0.5s all ease;
                }

                &.active {
                    width: 90px;
                    transition: 0.5s all ease;

                    .text {
                        display: none;
                        transform: scaleX(0);
                        transition: 0.5s all ease;
                    }

                    .icon {
                        display: block;
                        transform: scaleX(1);
                        transition: 0.5s all ease;
                    }
                }
            }
        }
    }

    .banner {
        padding: 71px 0 25px;
        background: imgUrl("lines.png") center top;
        background-size: cover;

        .hero-heading {
            font-weight: 900;
            font-size: 5.54875rem; // 88.78px
            line-height: 1.46;

            @include media-breakpoint-down(xxl) {
                font-size: 4.7rem;
            }

            @include media-breakpoint-down(lg) {
                font-size: 3.5rem;
            }

            @include media-breakpoint-down(sm) {
                font-size: 3rem;
            }
        }

        .sub-heading {
            padding-top: 53px;
            font-size: 3rem;
            font-weight: 600;
            line-height: 1.69;
        }

        .banner-button-wrapper {
            max-width: 363px;
            padding-top: 46px;

            .banner-button {
                font-size: 1.5rem;
                color: $white;
                font-weight: 700;
                padding: 8px 16px;
                line-height: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 76px;
                position: relative;

                .slide-out {
                    position: absolute;
                    right: 0;
                    color: $primary;
                    opacity: 0;
                    transition: 0.5s all;
                    z-index: -1;
                }

                &:hover {
                    .slide-out {
                        right: -50%;
                        transition: 0.5s all;
                        opacity: 1;
                    }
                }
            }
        }

        .tank-animation-wrapper {
            padding: 122px 0;

            .tank-animation {
                background: $secondary;
                border-radius: 57px;
                height: 480px;
                position: relative;

                .tank-img {
                    position: absolute;
                    bottom: 0;
                    right: 2rem;
                    width: 100%;
                }
            }
        }
    }
}

section.services {
    .services-slider {
        .slick-list {
            padding: 0 20% 0 0;
        }

        .slick-track {
            display: flex;
            align-items: center;
        }

        .service-card {
            filter: drop-shadow(37px 43.29px 50px rgba(0, 0, 0, 0.12));

            @include media-breakpoint-up(md) {
                margin: 0 37px 100px 0;
            }

            .pre-text {
                background: $white;
                border-radius: 46.6789px;
                min-height: 511px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 77px 31px 59px;
                transition: 0.5s all ease;
                align-items: center;
                text-align: center;

                .pricing {
                    display: flex;
                    justify-content: start;
                    align-items: start;

                    .from {
                        color: $white;
                        background: $secondary;
                        padding: 6px 13px;
                        font-size: 0.9375rem; // 15px

                        @include media-breakpoint-down(sm) {
                            font-size: 0.875rem; // 14px
                        }
                    }

                    .price {
                        font-weight: 900;
                        line-height: 0.8;
                        padding-left: 13px;
                        font-size: 5.638125rem; // 90.21px

                        @include media-breakpoint-down(md) {
                            font-size: 3rem;
                        }

                        @include media-breakpoint-down(sm) {
                            font-size: 4rem;
                        }
                    }
                }
            }

            .active-text {
                background: linear-gradient(90deg, $secondary 37.53%, $primary 102.6%);
                border-radius: 38.8414px;
                display: none;
                height: 602.26px;
                padding: 59px;
                color: $white;

                .max-width {
                    max-width: 454px;
                }
            }

            &.slick-current {
                .pre-text {
                    display: none;
                }

                .active-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }
}
